<div class="container">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <header>
    <h1>
      {{title}} 
    </h1>
  </header>
  <content>
  <aside class="left">
    <div class = "navigation-buttons ">
      <a routerLink="/configuration"
          href="#" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-cog"></span> Settings
      </a>  
      <a routerLink="/deplacement"       
          button type = "button" class="btn btn-primary">
          <i class="fa fa-send"></i> Move
      </a>          
      
      <a routerLink="/receipe"
          href="#" class="btn btn-primary btn-lg">
          <span class="bi bi-receipt"></span> Receipe
      </a>  
      <a routerLink="/gcode"
          href="#" class="btn btn-primary btn-lg">
          <span class="fas fa-code"></span> G-Code
      </a>  
      <div class = "record" >
        <app-recordloop ></app-recordloop>
      </div> 
      <div class = "loops" *ngIf="this.webSocketService.onreceipe">
        Loop : {{this.webSocketService.currentLoop}} / {{this.webSocketService.totalLoop}}
      </div>
      <a routerLink="/stop" 
        href="#" class="btn_PP btn-danger btn-lg">
          <i class="glyphicon glyphicon-stop"></i> Stop
      </a>  
    </div>
  </aside>

  <body class="main-content" [ngClass]="{ 'hide-configs': showConfigs, 'button-config' : home && !showConfigs}">
      <div class = "left">
        <div class="loader" *ngIf="this.webSocketService.onCommand" ></div> 
        <div class ="changing-page">
          <router-outlet></router-outlet>   
        </div>
    </div>
  </body>
  <aside class="right">
    <a button type = "button" class="btn btn-light" (click)="showConfigs = true" *ngIf="knownConfig && !this.webSocketService.onCommand && !showConfigs">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </a> 
    <a button type="button" class="btn btn-light" (click)="showConfigs = false" *ngIf="showConfigs">
      <i class="glyphicon glyphicon-cross"></i>
    </a>
    <div class = "current-config" *ngIf="!this.webSocketService.onCommand">
      <app-default-conf class="elements" [currentconfigX]="inputConfigX" [currentconfigY]="inputConfigY" [currentconfigZ]="inputConfigZ" *ngIf=" router.url != '/receipe' && showConfigs===true"></app-default-conf>
    </div>
  </aside>
</content>
  <footer>
    <div class="debug">
      <div class = "messagesserver">
        <h2>Messages sent to the server:</h2>
        <ul>
          <li *ngFor="let data of webSocketService.receivedData" >    <!-- *ngFor ="let <value> of <collection> "-->
                <div *ngIf="data.read != ''">
                  {{ data.time }}: {{ data.message }} recieved : {{ data.read }}
                </div>
          </li>
        </ul>
      </div>
      <ul>
        <h2>Elements on the record list:</h2>
        <div class = "delete" *ngIf="this.recordlist">
          <a button type="button" class="btn btn-dark" (click)="deleteRecord()" >   <!--Send the receipe to the device-->
           <i class="glyphicon glyphicon-trash"></i>
           </a>
     </div>
        <li *ngFor="let data of recordlist" >
              {{data}}
        </li>
      </ul>
    </div>
  </footer>
</div>
