<!--script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script-->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


<body>
  <h1>{{title}} </h1>    <!--Ceci est un titre, les {{}} indiquent une interpolation de binding-->

    <div class="tac">
      <div class = "left">
        <div class = "navigation-buttons ">
            <a routerLink="/configuration"
                href="#" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-cog"></span> Settings
            </a>  
            <a routerLink="/deplacement"       
                button type = "button" class="btn btn-primary">
                <i class="fa fa-send"></i> Move
            </a>          
            
            <a routerLink="/receipe"
                href="#" class="btn btn-primary btn-lg">
                <span class="bi bi-receipt"></span> Receipe
            </a>  
            <a routerLink="/gcode"
                href="#" class="btn btn-primary btn-lg">
                <span class="fas fa-code"></span> G-Code
            </a>  
            <!--<div class ="button-playpause" *ngIf="this.home"> 
                <a class="btn btn-info btn-lg" (click)="Play()">
                  <span class="glyphicon glyphicon-play"></span>  Play
                </a>  
                <a class="btn btn-info btn-lg" (click)="Pause()">
                  <span class="glyphicon glyphicon-pause"></span>  Pause
                </a>  deplacemdeplacement 
            </div>    --> 
            <a routerLink="/deplacement"
              href ="#" class="btn btn-info" (click)="unlock()" *ngIf="this.lock" >   <!--Send the receipe to the device-->
              <span class="glyphicon glyphicon-floppy-disk"></span> Unlock
            </a> 
            <a routerLink="/deplacement"
              href ="#" class="btn btn-info" (click)="locker()" *ngIf="!this.lock" >   <!--Send the receipe to the device-->
              <span class="glyphicon glyphicon-floppy-disk"></span> Lock
            </a> 
            <div class = "record">
              <app-recordloop ></app-recordloop>
            </div>  
            
            <a routerLink="/stop" 
              href="#" class="btn_PP btn-danger btn-lg">    <!--(click)="Stop()"-->
                <i class="glyphicon glyphicon-stop"></i> Stop 
            </a>  
          
        </div>
        <div class="loader" *ngIf="this.webSocketService.onCommand" ></div> 
        <div class ="changing page ">
          <router-outlet></router-outlet>    <!--Tells the router where to display routed views-->
          
        </div>
        <div class = "current-config">
          <app-default-conf [currentconfig]="inputConfig" class="elements" *ngIf=" router.url != '/receipe'"></app-default-conf>
          
        </div>
      </div>
      <div class="debug">
      <div class = "messagesserver">
        <h2>Messages sent to the server:</h2>
        <ul>
          <li *ngFor="let data of webSocketService.receivedData" >    <!-- *ngFor ="let <value> of <collection> "-->
              <!--<div *ngIf="data.done" (AppComponent)="OnDone()" >-->
                <div *ngIf="data.read != ''">
                {{ data.time }}: {{ data.message }} recieved : {{ data.read }}
                </div>
             <!-- </div>-->
          </li>
        </ul>
      </div>
        <ul>
          <h2>Elements on the record list:</h2>
          <div class = "delete" *ngIf="this.recordlist">
            <a button type="button" class="btn btn-dark" (click)="deleteRecord()" >   <!--Send the receipe to the device-->
             <i class="glyphicon glyphicon-trash"></i>
             </a>
       </div>
          <li *ngFor="let data of recordlist" >    <!-- *ngFor ="let <value> of <collection> "-->
              <!--<div *ngIf="data.done" (AppComponent)="OnDone()" >-->
                {{data}}
          </li>
        </ul>
    </div>
  </div>
  <!--<app-websockets-service (newItemEvent)="ChangeStatusOnCommand($event)"></app-websockets-service >-->
</body>
<!--<app-default-conf [currentconfig]="inputConfig"></app-default-conf>-->