.details-div{
   /* border: solid;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    margin-top: 5px;
    width: 100%;
    margin-bottom: auto;
}

.detail-buttons button{
    margin-right: 3px;
}