<div class = "panel">
    <div class = "deplacement-panel" *ngIf="this.ws.onCommand==false" > <!---->
        <div class = "step"> <!--Selection of the step-->
            Steps
            <li *ngFor="let coords of coord" >
                <a button type = "button" class="btn btn-dark " (click)="onSelect(200)">
                    200
                </a> 
                <a button type = "button" class="btn btn-dark " (click)="onSelect(500)">
                    500
                </a>
                <a button type = "button" class="btn btn-dark " (click)="onSelect(1000)">
                    1000
                </a>
                <input [(ngModel)]="selectedStep" placeholder="..." class = "step-input">
                -----
            </li>
        </div>  
        <div class="moveXYZ">   <!--Selection of the direction-->
            <div *ngIf= "this.ws.axisX" class = "Xpos">
                X       
            </div>
            <div *ngIf= "this.ws.axisX" class = "Xneg">
                -X       
            </div>
            <div *ngIf= "this.ws.axisX" class = "Xup">
                <a button type="button" class="btn btn-dark" (click)="onSelectDeplacement('X','')">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </a>      
            </div>
            <div *ngIf= "this.ws.axisX" class = "Xdown">
                <a button type="button" class="btn btn-dark" (click)="onSelectDeplacement('X','-')">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </a>      
            </div>
            <div *ngIf= "this.ws.axisY" class = "Ypos">
                Y       
            </div>
            <div *ngIf= "this.ws.axisY" class = "Yneg">
                -Y       
            </div>
            <div *ngIf= "this.ws.axisY" class = "Yup">
                <a button type="button" class="btn btn-dark" (click)="onSelectDeplacement('Y','')">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </a>      
            </div>
            <div *ngIf= "this.ws.axisY" class = "Ydown">
                <a button type="button" class="btn btn-dark" (click)="onSelectDeplacement('Y','-')">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </a>      
            </div>
            <div *ngIf= "this.ws.axisZ" class = "Zpos">
                Z       
            </div>
            <div *ngIf= "this.ws.axisZ" class = "Zneg">
                -Z       
            </div>
            <div *ngIf= "this.ws.axisZ" class = "Zup">
                <a button type="button" class="btn btn-dark" (click)="onSelectDeplacement('Z','')">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </a>      
            </div>
            <div *ngIf= "this.ws.axisZ" class = "Zdown">
                <a button type="button" class="btn btn-dark" (click)="onSelectDeplacement('Z','-')">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </a>      
            </div>
            <div class = home>
                <a button type="button" class="btn btn-dark" (click)="onSelectHome()">
                    <i class="glyphicon glyphicon-home"></i>
                </a>        
            </div>
            <div class = ask *ngIf="!this.app.knownConfig">
                <a button type="button" class="btn btn-dark" (click)="this.app.getConfig()">
                    <i class=" 	glyphicon glyphicon-question-sign"></i>
                </a>        
            </div>
        </div>
        <div class = "coordonnees"> <!--Selection of the coordinates-->
            <!-- Coordinates are in steps-->
            <!--<div class = "speed">
                Speed option
                <select name="speed option" id="speed option" [(ngModel)]="listSpeedMode" placeholder="speedmode">
                    <option value="feedrate" >feedrate</option>
                    <option value="fastspeed" >fastspeed</option>
                </select>
            </div>
            <div class="before-home" *ngIf="!this.app.home">
                <div class = " X">
                    <p> X       </p>
                    <input [(ngModel)]="unknown" placeholder="coordinateX" readonly>
                </div>
                <div class = " Y">
                    <p> Y       </p>
                    <input [(ngModel)]="unknown" placeholder="coordinateY" readonly>
                </div>
                <div class = " Z">
                    <p> Z       </p>
                    <input [(ngModel)]="unknown" placeholder="coordinateZ" readonly>
                </div> 
            </div>-->
            <div class="after-home" *ngIf="this.app.home">
                <div class = "speed">
                    Speed option
                    <select name="speed option" id="speed option" [(ngModel)]="listSpeedMode" placeholder="speedmode">
                        <option value="feedrate" >feedrate</option>
                        <option value="fastspeed" >fastspeed</option>
                    </select>
                </div>
                <div class="X">
                    <p>X</p>
                    <input [(ngModel)]="coordinateX" placeholder="coordinateX">
                </div>
                <div class="Y">
                    <p>Y</p>
                    <input [(ngModel)]="coordinateY" placeholder="coordinateY">
                </div>
                <div class="Z">
                    <p>Z</p>
                    <input [(ngModel)]="coordinateZ" placeholder="coordinateZ">
                </div>
                <div class = "button-coord">
                    <button class="btn btn-dark" (click)="onSelectCoordinates(coordinateX, coordinateY, coordinateZ)">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                    <button class="btn btn-dark" (click)="onGetCoords()">
                        <i class="glyphicon glyphicon-retweet"></i>
                    </button>  
                </div>
                
            </div>
            
            
        </div>          
    </div>
</div>