  .panel{
  display: flex;
  flex-direction: column;
  width: auto;
  box-shadow: none;
  margin-left: 5%;
  margin-top: 3.5%;
  }

  .deplacement-panel{
    display: flex;
    flex-direction: row;
    justify-content :stretch;
    align-items: center;
    width: 100%;
    background-color: rgb(170, 204, 204);
  }

  .coordinates-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120%;
  margin: 20px;
  background-color: rgb(170, 204, 204);
  }

  a {
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: .5rem auto;
  }

  .affiche{
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .affiche li{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  .step button.selected:hover {
    background-color: black;
    color: white;
  }

  .step{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }

  .step li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .coordonnees{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid;
  }

  .coordonnees p{
    align-items: center;
    margin-top: 5%;
    margin-right: 5%;
  }

  .coordonnees input{
    width: 100%;
  }
  
  .X{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  .Y{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  .Z{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  .step-input{
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
  }

  .coordonnees p{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
  }

  .affiche{
    margin-right: 1%;
    margin-left: 20%;
  }

  .moveXYZ {
    width: 90%;
    height: 175px; 
    position: relative;
  }
  
  .moveXYZ > div {
    position: absolute;
  }
  
  .Xpos {
    left: 45%;
    top: -5%;
    transform: translate(-50%, 0%);
  }
  
  .Xneg {
    left: 45%;
    top: 105%;
    transform: translate(-50%, -100%);
  }

  .home.show-configs {
    left: 35.5%; /* Valeur lorsque showConfigs est true */
    top: 37%;
  }
  
  .home.hide-config {
    left: 37.5%; /* Valeur lorsque showConfigs est false */
    top: 37%;
  }
  

  .Xup {
    left: 45%;
    top: 5%;
    transform: translate(-50%, 0%);
  }
  
  .Xdown {
    left: 45%;
    top: 95%;
    transform: translate(-50%, -100%);
  }
  
  
  .Ypos {
    left: 82%;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  
  .Yneg {
    left: 5%;
    top: 45%;
  }
  
  .Ydown {
    left: 15%;
    top: 37%;
  }
  
  .Yup {
    left: 75%;
    top: 37%;
    transform: translate(-100%, 0%);
  }

  
  .Zpos {
    left: 90%;
    top: -5%;
    transform: translate(-50%, 0%);
  }
  
  .Zneg {
    left: 90%;
    top: 105%;
    transform: translate(-50%, -100%);
  }

  .Zup {
    left: 90%;
    top: 5%;
    transform: translate(-50%, 0%);
  }
  
  .Zdown {
    left: 90%;
    top: 95%;
    transform: translate(-50%, -100%);
  }

  .ask{
      left: 60%;
      top: 37%;
  }
  
  .MoveL{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .MoveR{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .after-home button{
    margin-left: 10%;
  }

  .speed{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
  }
  
  .button-coord{
    display: flex;
    flex-direction: row;
  }