.send{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }
 
.send label{
    margin-right: 3%;
   }
 
.send input{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-right: 3%;
   }