
.configuration-panel{
  display: flex;
  padding: 0;

} 
.config-detail{
  display: flex;
  flex-direction: column;
  width: 34%;
}

.configurations-list{
  width: 30em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.configurations-list li {
  display: flex;
}

.configurations-list button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 10px;
  display: flex;
  height: 2em;
}

.configurations-list button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.configurations-list button:active {
  background-color: #525252;
  color: #fafafa;
}

.configurations-list button.selected {
  background-color: black;
  color: white;
}

.configurations-list button.selected:hover {
  background-color: #505050;
  color: white;
}

.configurations-list button.selected:active {
  background-color: black;
  color: white;
}

.configurations-list.badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.configurations-list.name {
  align-self: center;
}
.delete button.selected {
  background-color: black;
  color: white;
}

h2{
  margin-top: 2px;
}
