<div class = "cp" *ngIf="!this.ws.onCommand">
  <div class = "configuration-panel" >
    <h2>Settings</h2>
    <ul class="configurations-list">
      <li *ngFor="let config of configurations" >
        <button [class.selected]="config === selectedConfig" type="button" class = "btn btn-outline-dark" (click)="onSelect(config)" *ngIf="config &&config.name!='?'">
          <span class="name">{{config.name}}</span>
        </button>
      </li>
      <div class = "add">
        <a button type="button" class="btn btn-outline-dark" (click)="addConfig()">
          <i class= "glyphicon glyphicon-plus" ></i>
          </a>
      </div>
    </ul>
    </div>
    <div class="config-detail">
        <app-config-detail class [config]="selectedConfig"></app-config-detail>
    </div>    
</div>

