/* bar.component.css */

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color: green;
  }
  
  .cursor {
    width: 2px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 0;
  }
  