button:active{
    background-color: #13ca2b;
    color: #fafafa;
}
.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left : 100%;
}

.part1{
    display: flex;
    flex-direction: column;
    
}

.part2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.buttons-gestion{
    margin-left: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partAxis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left : 100%;
    width: 140%;
}

.partAxis a{
    margin-left: 20px;
}

.btn {
    background-color: #dddddd; 
    color: #000000; 
  }
  
  .btn:hover {
    /* Hooverd style */
    background-color:  #e6e6e6;
    color: #000000; 
  }
  
  .btn:active {
    /* state : survolé */
    background-color: #615f5f; 
    color: #ffffff; 
  }
  
  .btn.selected {
    /* selected button style */
    background-color: #000000;
    color: #ffffff; 
  }
  
  