<div *ngIf="config && !this.ws.onCommand" class = "config-details">
  <div class="partAxis">
    <label for="config-axis">Axis : {{config.axis}}</label>
    <a button type="button" class="btn btn-dark" (click)="onSelectAxis('X')" [class.selected]="config.axis === 'X'">
      X
    </a>  
    <a button type="button" class="btn btn-dark" (click)="onSelectAxis('Y')" [class.selected]="config.axis === 'Y'">
      Y
    </a>
    <a button type="button" class="btn btn-dark" (click)="onSelectAxis('Z')" [class.selected]="config.axis === 'Z'">
      Z
    </a>
  </div>
  <div class="form-group">
    <div class = "part1">
      <label for="config-name">Name : {{config.name}}</label>
      <input id="config-name" [(ngModel)]="config.name" placeholder="name" [readonly]="!this.app.knownConfig">
      <div>
        <label for="config-acceleration">Acceleration : {{config.acceleration}}</label>
        <input id="config-acceleration" [(ngModel)]="config.acceleration" placeholder="acceleration" [readonly]="!this.app.knownConfig">
      </div>
      <div>
        <label for="config-offset">Offset (in steps): {{config.offset}}</label>
        <input id="config-offset" [(ngModel)]="config.offset" placeholder="offset" [readonly]="!this.app.knownConfig">
      </div>
    </div>
    <div class = "part2">
      <div>
        <form action="#">
          <label for="mode">Mode : {{config.mode}} </label> 
          <br>
          <select name="mode" id="mode" [(ngModel)]="config.mode" placeholder="mode" >
            <option value="" > </option>
            <option value="relatif" >relatif</option>
            <option value="absolu" >absolu</option>
          </select>
        </form>
        </div>
        <div>
          <form action="#">
            <label for="speed">Speed : {{config.speed}} </label> 
            <br>
            <select name="speed" id="speed" [(ngModel)]="config.speed" placeholder="speed" >
              <option value="" > </option>
              <option value="fastspeed" >fastspeed</option>
              <option value="feedrate" >feedrate</option>
            </select>
          </form>
        </div>
        <div>
          <label for="config-step/mm">Steps/mm : {{config.step}}</label>
          <input id="config-step/mm" [(ngModel)]="config.step" placeholder="step/mm">
        </div>
    </div>
  </div>
  <div class = "buttons-gestion" *ngIf="this.app.knownConfig">
    <button type="button" class="btn btn-light" (click)="send()">
      Send
      <span class="glyphicon glyphicon-save"></span>
    </button>
    <button type="button" class="btn btn-light" title="delete config" (click)="delete(config.id)">
      Delete
      <span class="glyphicon glyphicon-trash"></span>
    </button>

  </div>
</div>


